# Datasource
DATASOURCE_URL_COURIER="your-datasource_url_courier"
DATASOURCE_URL_COURIER_TEST="your-datasource_url_courier_test"
DATASOURCE_URL_DELIVERY="your-datasource_url_delivery"
DATASOURCE_URL_DELIVERY_TEST="your-datasource_url_delivery_test"
DATASOURCE_USERNAME="your-datasource_username"
DATASOURCE_PASSWORD="your-datasource_password"

# Kafka
PRODUCER_BOOTSTRAP_SERVERS="your-producer_bootstrap_servers"
